<a href="https://colab.research.google.com/github/sm-asif-ul-islam/Phython-Google-crash-course-Coursera/blob/master/Crash_Course_on_Python_by_Google_W4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
number = 1
while number <= 7:
	print(number, end=" ")
	number +=1

1 2 3 4 5 6 7

In [ ]:
def show_letters(word):
	for letter in word:
		print(letter)

show_letters("Hello")
# Should print one line per letter

H
e
l
l
o

In [ ]:
def digits(n):
	count = 0
	if n == 0:
	  count +=1
	while (n>0):
		count += 1
		n = n//10
	return count
	
print(digits(25))   # Should print 2
print(digits(144))  # Should print 3
print(digits(1000)) # Should print 4
print(digits(0))    # Should print 1

2
3
4
1

In [ ]:
def multiplication_table(start, stop):
	for x in range (1,4):
		#print(str(x))
		for y in range (1,4):
			print(str(x*y), end=" ")
		print()

multiplication_table(1, 3)
# Should print the multiplication table shown above

1 2 3
2 4 6
3 6 9

In [ ]:
def counter(start, stop):
	x = start
	if x>stop:
		return_string = "Counting down: "
		while x >= stop:
			return_string += str(x)
			if x>stop:
				return_string += ","
			x-=1
	else:
		return_string = "Counting up: "
		while x <= stop:
			return_string += str(x)
			if x<stop:
				return_string += ","
			x+=1
	return return_string

print(counter(1, 10)) # Should be "Counting up: 1,2,3,4,5,6,7,8,9,10"
print(counter(2, 1)) # Should be "Counting down: 2,1"
print(counter(5, 5)) # Should be "Counting up: 5"

Counting up: 1,2,3,4,5,6,7,8,9,10
Counting down: 2,1
Counting up: 5

In [ ]:
def even_numbers(maximum):
	return_string = ""
	for x in range(2,maximum+1,2):
		return_string += str(x) + " "
	return return_string.strip()

print(even_numbers(6))  # Should be 2 4 6
print(even_numbers(10)) # Should be 2 4 6 8 10
print(even_numbers(1))  # No numbers displayed
print(even_numbers(3))  # Should be 2
print(even_numbers(0))  # No numbers displayed

2 4 6
2 4 6 8 10

2

In [ ]:
def double_word(word):

      text=word*2

      text= str(text)+str(len(text))

      return text

print(double_word("hello")) # Should return hellohello10 [but I got('hellohello', 10)
print(double_word("abc")) # Should return abcabc6 [but I got ('abcabc', 6)
print(double_word("")) # Should return 00 [but I got ( '', 0)

hellohello10
abcabc6
0

In [ ]:
def double_word(word):

     text = word * 2
     text = str(text) + str(len(text))
     return text

print(double_word("hello")) # Should return hellohello10

print(double_word("abc")) # Should return abcabc6

print(double_word("")) # Should return 0

hellohello10
abcabc6
0

In [ ]:
def first_and_last(message):
   
    if  message=="":
       return True
    elif message[0]!=message[-1]:
       return False
    else:
      return True

print(first_and_last("else"))
print(first_and_last("tree"))
print(first_and_last(""))

True
False
True

In [ ]:
def initials(phrase):
    words = phrase.upper().split(" ")
    result = ""
    for word in words:
        result += word[0]
    return result

print(initials("Universal Serial Bus")) # Should be: USB
print(initials("local area network")) # Should be: LAN
print(initials("Operating system")) # Should be: OS

USB
LAN
OS

In [ ]:
def student_grade(name, grade):
	return "{name} received {grade} on the exam".format(name=name,grade=grade)

print(student_grade("Reed", 80))
print(student_grade("Paige", 92))
print(student_grade("Jesse", 85))

Reed received 80 on the exam
Paige received 92 on the exam
Jesse received 85 on the exam

In [ ]:
def format_address(address_string):
    # Declare variables
    home_number = 0
    home_address = ''
    # Separate the address string into parts
    parts = address_string.split()

    for part in parts:
    # Determine if the address part is the
    # house number or part of the street name
        if part.isnumeric():
            home_number = part
        else:
            home_address += part + ' '
    # Does anything else need to be done 
    # before returning the result?
  
  # Return the formatted string  
    return "house number {} on street named {}".format(home_number,home_address)

print(format_address("123 Main Street"))
# Should print: "house number 123 on street named Main Street"

print(format_address("1001 1st Ave"))
# Should print: "house number 1001 on street named 1st Ave"

print(format_address("55 North Center Drive"))
# Should print "house number 55 on street named North Center Drive"

house number 123 on street named Main Street
house number 1001 on street named 1st Ave
house number 55 on street named North Center Drive

In [ ]:
def is_palindrome(input_string):
	# We'll create two strings, to compare them
	new_string = ""
	reverse_string = ""
	# Traverse through each letter of the input string
	for word in input_string.upper():
		# Add any non-blank letters to the 
		# end of one string, and to the front
		# of the other string. 
		if word != ' ':
			new_string = new_string + word
			reverse_string = word + reverse_string
	# Compare the strings
	if new_string == reverse_string:
		return True
	return False

print(is_palindrome("Never Odd or Even")) # Should be True
print(is_palindrome("abc")) # Should be False
print(is_palindrome("kayak")) # Should be True

True
False
True

In [ ]:
def convert_distance(miles):
	km = miles * 1.6 
	result = "{} miles equals {:.1f} km".format(miles,km)
	return result

print(convert_distance(12)) # Should be: 12 miles equals 19.2 km
print(convert_distance(5.5)) # Should be: 5.5 miles equals 8.8 km
print(convert_distance(11)) # Should be: 11 miles equals 17.6 km

12 miles equals 19.2 km
5.5 miles equals 8.8 km
11 miles equals 17.6 km

The replace_ending function replaces the old string in a sentence with the new string, but only if the sentence ends with the old string. If there is more than one occurrence of the old string in the sentence, only the one at the end is replaced, not all of them. For example, replace_ending("abcabc", "abc", "xyz") should return abcxyz, not xyzxyz or xyzabc. The string comparison is case-sensitive, so replace_ending("abcabc", "ABC", "xyz") should return abcabc (no changes made).

In [ ]:
def replace_ending(sentence, old, new):
	# Check if the old string is at the end of the sentence 
	if old in sentence:
		# Using i as the slicing index, combine the part
		# of the sentence up to the matched string at the 
		# end with the new string
		i = sentence.split(" ")
		new_sentence = ___
		return new_sentence

	# Return the original sentence if there is no match 
	return sentence
	
print(replace_ending("It's raining cats and cats", "cats", "dogs")) 
# Should display "It's raining cats and dogs"
print(replace_ending("She sells seashells by the seashore", "seashells", "donuts")) 
# Should display "She sells seashells by the seashore"
print(replace_ending("The weather is nice in May", "may", "april")) 
# Should display "The weather is nice in May"
print(replace_ending("The weather is nice in May", "May", "April")) 
# Should display "The weather is nice in April"

In [ ]:
def format_name(first_name, last_name):
	if len(first_name) and len(last_name) > 0:
	   format_name = str(last_name)+", "+str(first_name)
	elif len(first_name) == 0 and len(last_name) > 0:
	   format_name = last_name
	elif len(first_name) > 0 and len(last_name) == 0:
	   format_name = first_name
	else:
	   format_name = ''
	return format_name 
	


print("Name: " + str(format_name("Ernest", "Hemingway")))
# Should be "Name: Hemingway, Ernest"
print("Name: " + str(format_name("", "Madonna")))
# Should be "Name: Madonna"
print("Name: " + str(format_name("Voltaire", "")))
# Should be "Name: Voltaire"
print(format_name("", ""))
# Should be ""

Name: Hemingway, Ernest
Name: Madonna
Name: Voltaire

In [ ]:
def longest_word(word1, word2, word3):
    if len(word1) >= len(word2) and len(word1) >= len(word3):
       word = word1
    elif len(word2) >= len(word1) and len(word2) >= len(word3): 
       word = word2
    else:
       word = word3

    return(word)

print(longest_word("chair", "couch", "table"))
print(longest_word("bed", "bath", "beyond"))
print(longest_word("laptop", "notebook", "desktop"))

chair
beyond
notebook

In [ ]:
def get_word(sentence, n):
	# Only proceed if n is positive 
	if n > 0:
		words = sentence.split()
		# Only proceed if n is not more than the number of words 
		if n <= len(words):
      
			return(words[n-1])
		
	return("")

print(get_word("This is a lesson about lists", 4)) # Should print: lesson
print(get_word("This is a lesson about lists", -4)) # Nothing
print(get_word("Now we are cooking!", 1)) # Should print: Now
print(get_word("Now we are cooking!", 5)) # Nothing

lesson

Now

In [ ]:
filenames = ["program.c", "stdio.hpp", "sample.hpp", "a.out", "math.hpp", "hpp.out"]
# Generate newfilenames as a list containing the new filenames
# using as many lines of code as your chosen method requires.
newfilenames=filenames.copy()
#for filename in filenames:
#if filenam.endswith(.hpp):
newfilenames= [filename.replace(".hpp",".h") for filename in filenames] #if filename.endswith(".hpp")]

print(newfilenames) 
# Should be ["program.c", "stdio.h", "sample.h", "a.out", "math.h", "hpp.out"]

['program.c', 'stdio.h', 'sample.h', 'a.out', 'math.h', 'hpp.out']

In [ ]:
def group_list(group, users):
  members = ", "
  mem = members.join(users)
  return group + ": " + mem

print(group_list("Marketing", ["Mike", "Karen", "Jake", "Tasha"])) # Should be "Marketing: Mike, Karen, Jake, Tasha"
print(group_list("Engineering", ["Kim", "Jay", "Tom"])) # Should be "Engineering: Kim, Jay, Tom"
print(group_list("Users", "")) # Should be "Users:"

Marketing: Mike, Karen, Jake, Tasha
Engineering: Kim, Jay, Tom
Users:

In [ ]:
def guest_list(guests):
	for g,a,o in guests:
		
		print("{} is {} years old and works as {}".format(g,a,o))

guest_list([('Ken', 30, "Chef"), ("Pat", 35, 'Lawyer'), ('Amanda', 25, "Engineer")])

"""
Output should match:
Ken is 30 years old and works as Chef
Pat is 35 years old and works as Lawyer
Amanda is 25 years old and works as Engineer
"""

Ken is 30 years old and works as Chef
Pat is 35 years old and works as Lawyer
Amanda is 25 years old and works as Engineer

'\nOutput should match:\nKen is 30 years old and works as Chef\nPat is 35 years old and works as Lawyer\nAmanda is 25 years old and works as Engineer\n'

In [ ]:
def octal_to_string(octal):
 result = ""
 value_letters = [(4,"r"),(2,"w"),(1,"x")]
# Iterate over each of the digits in octal
 for x in [int(n) for n in str(octal)]:

# Check for each of the permissions values

  for value, letter in value_letters:

   if x >= value:

    result += letter

    x-= value

   else:

    result +='-'
 return result

print(octal_to_string(755)) # Should be rwxr-xr-x

print(octal_to_string(644)) # Should be rw-r--r--

print(octal_to_string(750)) # Should be rwxr-x---

print(octal_to_string(600)) # Should be rw-------

rwxr-xr-x
rw-r--r--
rwxr-x---
rw-------

In [ ]:
def combine_lists(list1, list2):
  # Generate a new list containing the elements of list2
  # Followed by the elements of list1 in reverse order
  combine_lists= list1+list2.reverse()
	return combine_lists()
Jamies_list = ["Alice", "Cindy", "Bobby", "Jan", "Peter"]
Drews_list = ["Mike", "Carol", "Greg", "Marcia"]
print(combine_lists(Jamies_list, Drews_list))

TabError: ignored

In [1]:
def combine_lists(list1, list2):
  # Generate a new list containing the elements of list2
  # Followed by the elements of list1 in reverse order
  list1.reverse()
  return list2+list1 

Jamies_list = ["Alice", "Cindy", "Bobby", "Jan", "Peter"]
Drews_list = ["Mike", "Carol", "Greg", "Marcia"]
print(combine_lists(Jamies_list, Drews_list))

['Mike', 'Carol', 'Greg', 'Marcia', 'Peter', 'Jan', 'Bobby', 'Cindy', 'Alice']

In [ ]:
# Operating System List
systems = ['Windows', 'macOS', 'Linux']
print('Original List:', systems)

# List Reverse
systems.reverse()

# updated list
print('Updated List:', systems)

Original List: ['Windows', 'macOS', 'Linux']
Updated List: ['Linux', 'macOS', 'Windows']